.listItem {
  background-color: ivory;
  display: inline;
}
.list_expense_shares {
  align-items: center;
  justify-content: space-around;
}
.accordion_header {
  display: flex;
  justify-content: space-between;
}
