.group_details {
  height: 100vh;
  background-color: #dee2e6;
  display: flex;
  overflow-y: overlay;
}
.group_details::-webkit-scrollbar {
  display: none;
}
.group_transaction_details {
  flex: 0.6;
  overflow-y: overlay;
}
.group_transaction_details::-webkit-scrollbar {
  display: none;
}

.group_member_details {
  flex: 0.4;
  background-color: #ced4da;
  overflow-y: overlay;
}
.group_member_details::-webkit-scrollbar {
  display: none;
}
.groupMemberHeading {
  margin-top: 10px;
  padding: 10px;
  color: #6c757d;
}
.expenseDetails {
  margin-right: 30%;
  margin-left: 10px;
  margin-top: 10px;
}
.actions {
  display: flex;
  margin-left: 10px;
}
.member_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
