.group {
  height: 100vh;
  background-color: #dee2e6;
  overflow-y: overlay;
}
.searchBar {
  display: flex;
  align-items: center;
}
.pagedGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  padding-bottom: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
