.rooter {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow-y: overlay;
  width: 50%;
}
.contenter {
  display: flex;
  align-items: center;
}
.memberName {
  padding-left: 10px;
}
.amountDetails {
  margin-left: 5px;
}
