.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6px;
  margin-top: 10px;
}
.logo {
  /* left: 20px;
  width: 80px; */
  margin-left: 10px;
  margin-top: 5px;
  background: -webkit-linear-gradient(#06d6a0, #1e6091);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user {
  display: flex;
  align-items: center;
}
.user > h2 {
  margin-left: 10px;
  margin-right: 20px;
}
.nav_right {
  display: flex;
}
