.sideTab {
  display: flex;
}
.options {
  flex: 0.2;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background-color: #006d77;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  color: white;
}
.canvas {
  flex: 0.8;
  height: 100vh;
  color: #343a40;
}
.bread {
  margin: 10px;
}
